.toplogo{
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translate(-90%,-50%);
}
.title{
    position: absolute;
    top: 50%;
    right: 10%;
    transform: translate(10%,-50%);
}
.MAIN{
    width: 100%;
    height: 100%;
    position: relative;
    background-color: #b4b4b4;
    background-image: url(../img/21.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: screen;
}
.MAIN img{
    width: 90%;
}
.MAIN span{
    width: 50%;
    display: table-cell;
    vertical-align: middle;
    text-align: justify;
    padding-left: 5%;
}
.MAIN h3{
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.3em;
    margin: 1em 0;
}
.MAIN p{
    font-size: 12px;
    font-weight: 500;
    font-style: normal;
    line-height: 2.5em;
    letter-spacing: 0.3em;
}
.text{
    width: 50%;
    padding-top: 70%;
    vertical-align: bottom;
}
.img1{
    width: 90%;
    display: table;
    padding-top: 3em;
    margin: 0 auto;
}
.img2{
    width: 90%;
    display: table;
    padding-top: 3em;
    margin: 0 auto;
}
.img3{
    width: 90%;
    display: table;
    padding-top: 3em;
    margin: 0 auto;
}
.img4{
    width: 90%;
    display: table;
    padding-top: 3em;
    margin: 0 auto;
}
.img5{
    width: 90%;
    display: table;
    padding-top: 3em;
    margin: 0 auto;
}
.img6{
    width: 90%;
    display: table;
    padding-top: 3em;
    margin: 0 auto;
}
.img7{
    width: 90%;
    display: table;
    padding-top: 3em;
    margin: 0 auto;
}
.img8{
    width: 90%;
    display: table;
    padding-top: 3em;
    margin: 0 auto;
}
.img9{
    width: 90%;
    display: table;
    padding: 3em 0;
    margin: 0 auto;
}